UniversalTableView.xcodeproj/project.xcworkspace/xcuserdata/michanic.xcuserdatad/IDEFindNavigatorScopes.plist
UniversalTableView.xcodeproj/xcuserdata/michanic.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
